@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Poppins:wght@200;300;400;500&display=swap');


/* 
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;
*/

/* 
==========================================================
                  Public Styles
========================================================
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}
:root{
  --black:##151515;
  --green:#7fd02c;
  --red:#e52029;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
}
::selection{
  background: var(--red);
  color: #fff;
}
html{
  font-size: 60.5%;
}
.btn{
  outline: none !important;
  box-shadow: none !important;
}

a{
  text-decoration: none !important;
}

/* 
=> start navbar

*/
.navbar{
  background-color: #fff;
  padding: 1.5rem 0;
}
.navbar .navbar-nav {
  margin-left: 7rem;
}
.navbar .navbar-nav .nav-item{
  margin-right: 2.5rem;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link{
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 500;
  letter-spacing: .1rem;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}
.navbar .navbar-nav .nav-item .dropdown-list{
  position: absolute;
  background: #fff;
  width: 224px;
  padding: 2.4rem 3rem;
  top: 60px;
  left: -15px;
  filter: drop-shadow(2px 8px 6px #cc9);
  transform: scale(.7);
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}

.navbar .navbar-nav .nav-item:hover .dropdown-list{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.navbar .navbar-nav .nav-item .dropdown-list .list-item {
  margin-bottom: 1.6rem;
}
.navbar .navbar-nav .nav-item .dropdown-list .list-link{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: .1rem;
  text-decoration: none;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}
.navbar .navbar-nav .nav-item .dropdown-list .list-link:hover , 
.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item.active
{
  color: var(--red);
}
.navbar .navbar-nav .nav-item.drop-item{
  position: unset;
}

.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus{

  width: 90%;
  left: 5%;
  top: 100%;
}
.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .nav-titel{
  border-bottom: .1rem solid #bebebe3d;
  padding: 1rem 0;
  margin-bottom: 4rem;
  color: var(--green);
}

.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .nav-titel i{
  margin-right: 1rem;
}

.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .img-link{
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .img-link::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(204, 204, 204, 0.459);
  top: -312px;

  left: 221px;
  transform: rotate(45deg) scale(2);
  -webkit-transform: rotate(45deg) scale(2);
  -moz-transform: rotate(45deg) scale(2);
  -ms-transform: rotate(45deg) scale(2);
  -o-transform: rotate(45deg) scale(2);
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  z-index: 10;
}
.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .img-link:hover:before{
  top:312px;
  left: -221px;
}

.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .img-link::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
}
.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .img-link:hover:after{
  background: #aa5a5e57;
}
.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .img-link img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  z-index: -1;
}
.navbar .navbar-nav .nav-item.drop-item  .dropdown-list.dero-plus .img-link:hover img{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}


.navbar .icon-nav{
  display: flex;
  align-items: center;
}
.navbar .icon-nav i{
  font-size: 1.9rem;
  margin-left: 2rem;
  cursor: pointer;
}
.navbar .icon-toggle span{
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-bottom: .3rem;
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
}
.navbar .icon-toggle span:nth-child(4){
  width: 15px;
}
.navbar .icon-toggle:hover span:nth-child(1){
  width: 15px;
}
.navbar .icon-toggle:hover span:nth-child(4){
  width: 20px;
}
@media (max-width:1024px) {
  .navbar .navbar-nav .nav-item {
    margin-right: 1rem;
  }
}
@media (max-width:991px) {
  .navbar{
    padding: 1rem 1.5rem;
    box-shadow: 0px 2px 5px #cccc;
  }
  .navbar .navbar-brand{
    width: 50%;
    order: 1;
  }
  .navbar .navbar-brand img{
    width: 100%;
  }
  .navbar .navbar-collapse{
    position: fixed;
    width: 60%;
    background: #fff;
    height: 100% !important;
    left: -100%;
    top: 60px;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    z-index: -1;
}
  .navbar .navbar-collapse.show{
    left: 0;
  }
  .navbar .navbar-nav {
    margin-left: 0;
}
.navbar .navbar-nav .nav-item {
  margin: .4rem 2rem;
  position: relative;
}
.navbar .navbar-nav .nav-item.active {
  background: var(--red);
  color: #fff;
  margin: 0;
  padding: .1rem 2rem;
}
.navbar-nav .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-nav .nav-link i{
  font-size: 1rem;
  color: #585656;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}
.navbar-nav .nav-link:focus i{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.navbar .navbar-nav .nav-item .dropdown-list {
  position: unset;
  filter: none;
  -webkit-filter: none;
  width: 200px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  display: none;
  padding: 1.5rem;
}
.navbar .navbar-nav .nav-item:hover .dropdown-list , .navbar .navbar-nav .nav-item:focus .dropdown-list {
  display: block;
}
.navbar .navbar-toggler{
  order: 0;

}
.navbar .navbar-toggler span{
    width: 20px;
    height: 2px;
    background: #333;
    display: block;
    margin-bottom: 4px;
    transition:  all .4s ease-in;
    -webkit-transition:  all .4s ease-in;
    -moz-transition:  all .4s ease-in;
    -ms-transition:  all .4s ease-in;
    -o-transition:  all .4s ease-in;
}
.navbar .navbar-toggler.close span:nth-child(3){
  display: none;
}
.navbar .navbar-toggler.close span:nth-child(1){
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.navbar .navbar-toggler.close span:nth-child(2){
  transform: rotate(134deg) translate(-3px, 4px);
  -webkit-transform: rotate(134deg) translate(-3px, 4px);
  -moz-transform: rotate(134deg) translate(-3px, 4px);
  -ms-transform: rotate(134deg) translate(-3px, 4px);
  -o-transform: rotate(134deg) translate(-3px, 4px);
}
.navbar .icon-nav {
  order: 2;
}
}
@media (max-width:768px) {
  .navbar .navbar-collapse {
    top: 88px;
  }
  .navbar .navbar-brand {
    width: 38%;
    order: 1;
}
}
@media (max-width:767px) {
  .navbar .navbar-collapse {
    top: 53px;
  }
}
/* 
=> end navbar

*/

/* start search */
.home-search{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333d4;
  z-index: 11111;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.home-search #searchClose{
  position: absolute;
  top: 4rem;
  right: 21rem;
  color: #fff;
  font-size: 3rem;
}
.home-search form{
  width: 30%;

}
.home-search form .form-group{
  position: relative;
}
.home-search form .form-group .form-control{
  background: transparent;
  border: 0;
  border-bottom: .1rem solid #fff;
  padding: 2rem 0;
  font-size: 2rem;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.home-search form .form-group .form-control::placeholder{
  color: #fff;
}
.home-search form .form-group .btn{
  position: absolute;
  right: 12px;
  top: 1px;
}
.home-search form .form-group .btn i{
  color: #fff;
  font-size: 2rem;
}
/* end search */

/*  start shoping-card */
.shoping-card{
  background: #fff;
  width: 33%;
  position: absolute;
  right: 34px;
  top: 106px;
  filter: drop-shadow(2px 4px 3px rgb(161, 160, 160));
  -webkit-filter: drop-shadow(2px 4px 3px rgb(161, 160, 160));
  padding: 3rem 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}
.shoping-card.shopingToggle{
  opacity: 1;
  visibility: visible;
  top: 90px;
}
.shoping-card::before{
  content: "";
  position: absolute;
  width: 0;
  right: 138px;
  top: -30px;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid #fff;
}
.shoping-card .shop-title{
  padding: 0 2rem 1rem;
  margin-bottom: 4rem;
  border-bottom: .1rem solid rgb(204, 201, 201);
}

.shoping-card .shop-title h5{
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.shoping-card .shop-title h6{
  font-size: 1.6rem;
  font-weight: 600;
}
.shoping-card .img-link {
  background: #e6e0e0;
  margin-right: 20px;
  width: 100px;
}
.shoping-card .img-link img{
  width: 100%;
}
.shoping-card .couter-title{
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--gray-dark);
}
.shoping-card .counter{
  display: flex;
  margin-top: 2rem;
}
.shoping-card .counter .btn{
  border: .1rem solid #ccc;
  padding: .8rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1.7rem;
}
.shoping-card .counter .text-couter{
  font-size: 2rem;
  margin-right: 1.5rem;
  font-weight: 600;
}
.shoping-card .shop-btton{
  margin: 3rem 0 0;
  border-top: .1rem solid #cec0c0;
  padding: 2rem 1rem;
}
.shoping-card .shop-btton .btn{
    padding: 1.5rem 4rem;
    border: .3rem solid #333;
    border-radius: .7rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 1.4rem;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}
.shoping-card .shop-btton .btn:hover:nth-child(1){
  background-color: #7fd02c;
  color: #fff;
  border: .3rem solid #7fd02c;
}
.shoping-card .shop-btton .btn:nth-child(2){
  background-color: #e52029;
  color: #fff;
  border: .3rem solid #e52029;
}
@media (max-width:1200px) {
  .shoping-card{
    width: 49%;
    right: 5%;
  }
  .shoping-card::before {
    content: "";
    position: absolute;
    width: 0;
    right: 54px;
}
}
@media (max-width:991px) {
  .shoping-card{
    width: 88%;
    left: 5%;
    top: 61px;
  }
  .shoping-card::before {
    content: "";
    position: absolute;
    width: 0;
    right: 32px;
    top: -23px;
  }
  .shoping-card.shopingToggle {
    opacity: 1;
    visibility: visible;
    top: 84px;
}
.shoping-card .shop-btton {
  margin: 3rem 0 0;
  border-top: .1rem solid #cec0c0;
  padding: 2rem 13rem;
}
}
@media (max-width:767px) {
  .shoping-card{
    width: 88%;
    left: 5%;
    top: 61px;
  }
  .shoping-card.shopingToggle{
    top: 54px;
  }
  .shoping-card::before {
    content: "";
    position: absolute;
    width: 0;
    right: 41px;
    top: -23px;
  }
  .shoping-card .shop-btton .btn {
    padding: 1.5rem 2rem;
    margin-left: 01rem;

}
}
/*  ends shoping-card */


/* contact-home */
.contact-home {
  background: #fff;
  width: 33%;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  padding: 5rem 3rem 0;
  text-align: center;
  filter: drop-shadow(2px 4px 6px rgb(204, 204, 204));
  -webkit-filter: drop-shadow(2px 4px 6px rgb(204, 204, 204));
  z-index: 99999;
}
.contact-home .contact-title{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.contact-home .carousel{
  margin-bottom: 42px;
}
.contact-home .carousel .carousel-indicators {
  bottom: -42px;
}
.contact-home .carousel .carousel-indicators li{
  padding: 0;
  border: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 2rem;
  background: rgb(204, 201, 201);
}
.contact-home .carousel .carousel-indicators li.active{
  background-color: var(--green);
}
.contact-home  .contact-modern {
  margin: 7rem 0 2rem;
}

.contact-home  .contact-modern a:nth-child(1){
  display: block;
  font-size: 1.5rem;
  width: 60%;
  margin: 1.3rem auto;
  color: #000;
  line-height: 1.8;
}
.contact-home  .contact-modern a:nth-child(2){
  font-size: 1.5rem;
  color: #000;
  position: relative;
}
.contact-home  .contact-modern a:nth-child(2)::before{
  content: "";
  position: absolute;
  width: 7rem;
  height: .2rem;
  background: #848080b5;
  top: -8px;
  left: 36px;
}
.contact-home .social-media{
  margin-top: 4rem;
}
.contact-home .social-media a{
  font-size: 2rem;
  margin-left: 3rem;
  color: #000;
}
.contact-home .contact-close {

}

.contact-home .contact-close span{
  width: 3rem;
  height: .2rem;
  background: #333;
  display: block;
  margin: .2rem;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  cursor: pointer;
}
.contact-home .contact-close.closeIcon span:nth-child(1){
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.contact-home .contact-close.closeIcon span:nth-child(2){
  transform: rotate(317deg) translate(2px, -2px);
  -webkit-transform: rotate(317deg) translate(2px, -2px);
  -moz-transform: rotate(317deg) translate(2px, -2px);
  -ms-transform: rotate(317deg) translate(2px, -2px);
  -o-transform: rotate(317deg) translate(2px, -2px);
}
@media (max-width:1024px) {
  .contact-home .contact-modern a:nth-child(1) {
    width: 100%;
  }
}
@media (max-width:768px) {
  .contact-home {
    width: 42%;
}
.contact-home .social-media {
  margin-top: 2rem;
}
}
@media (max-width:500px) {
  .contact-home {
    width: 85%;
  }
  .contact-home .social-media {
    margin-top: 2rem;
}
.contact-home .contact-modern a:nth-child(1) {
  width: 100%;
}
.contact-home {
  padding: 5rem 1rem 0;
}
}

/* .contact-home */
.header-home {
  margin-top: 88px;
}
.header-home .carousel-item img{
  height: 62vh;
  object-fit: cover;
}
.header-home .carousel-item .carousel-caption{
  position: absolute;
  top: 11%;
  left: 10%;
  text-align: left;
  bottom: 0;
}
.header-home .carousel-item .carousel-caption span{
  font-size: 3rem;
  font-family: 'Kalam', cursive;
}
.header-home .carousel-item .carousel-caption h5{
  font-size: 9rem;
  margin: 2rem 0;
  text-shadow: 1px 9px 16px rgb(0 0 0 / 18%);
  font-weight: 600;
  letter-spacing: 4px;
}
.header-home .carousel-item .carousel-caption p{
  font-size: 4rem;
}
.header-home .carousel-item .carousel-caption .btn{
  font-size: 1.7rem;
  background-color: var(--red);
  padding: 1.5rem 3rem;
  color: #fff;
  text-transform: uppercase;
}
.header-home .carousel-control-prev , .header-home .carousel-control-next{
  background: #ffffff5e;
  width: 5%;
  height: 12%;
  top: 50%;
}
.header-home .carousel-control-prev {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.header-home .carousel-control-next{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.header-home .carousel-control-prev::before{
  content: "prev";
  position: absolute;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.header-home .carousel-control-prev::after{
  content: "";
  width: 4.3rem;
  height: .2rem;
  position: absolute;
  background: #fff;
  bottom: 1.7rem;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}
.header-home .carousel-control-prev:hover::after , .header-home .carousel-control-next:hover::after{
  width: 3rem;
}

.header-home .carousel-control-next::before{
  content: "next";
  position: absolute;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.header-home .carousel-control-next::after{
  content: "";
  width: 4.3rem;
  height: .2rem;
  position: absolute;
  background: #fff;
  bottom: 1.7rem;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}